name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure (Unix)
        if: runner.os != 'Windows'
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DTEXEC_BUILD_EXAMPLES=ON

      - name: Build (Unix)
        if: runner.os != 'Windows'
        run: cmake --build build --config Release

      - name: Configure (Windows)
        if: runner.os == 'Windows'
        run: cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DTEXEC_BUILD_EXAMPLES=ON

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: cmake --build build --config Release
